@import url("https://fonts.googleapis.com/css?family=Teko:600");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #333;
  margin: 0;
}

.background {
  position: absolute;
  top: -40px;
  left: -40px;
  height: 100%;
  width: 100%;
  width: calc(100% + 80px);
  height: calc(100% + 80px);
  z-index: -1;
}
.background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(20px);
}

.center-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 600px;
  height: 470px;
  width: 300px;
  transition: 0.15s ease-in;
}
.center-card.animate .card {
  transform: rotateY(-180deg);
}
.center-card.animate .card-back {
  transform: rotateY(0deg);
}

.card, .card-back {
  background: white;
  height: 130%;
  width: 100%;
  border-radius: 15px;
  font-family: "Teko", sans-serif;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 0;
  top: 0;
  left: 0;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.4s ease-in;
}

.input-container {
  position: absolute;
  top: -70px;
  width: 100%;
  font-size: 0;
  vertical-align: top;
}
.input-container input {
  width: 100%;
  font-size: 17px;
  padding: 6px 40px 6px 10px;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: 0.15s ease-in;
}
.input-container input:hover {
  background: rgba(255, 255, 255, 0.85);
}
.input-container input:focus {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid white;
}
.input-container button {
  width: 40px;
  height: 37px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: none;
  color: #333;
  -webkit-appearance: button;
  cursor: pointer;
  background: none;
}
.input-container button svg {
  width: 20px;
  height: 20px;
  fill: #444;
}

.card {
  z-index: 3;
}
.card .info {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.4;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.card .info svg {
  position: relative;
  top: 4px;
  fill: rgba(255, 255, 255, 0.8);
}
.card .img-container {
  width: 100%;
  height: 288px;
  transition: 0.15s ease-in;
}
.card .img-container.nodesc {
  height: 358px;
}
.card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .data-container {
  padding: 20px;
}
.card .data-container h3 {
  color: #333;
  margin: 0;
  font-size: 80px;
  line-height: 1;
  text-align: center
}
.card .data-container p {
  margin: 0;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;

}

.card-back {
  transform: rotateY(180deg);
  z-index: 2;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 470px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.8);
}
.error .error-msg {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #e23636;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  width: 100%;
  text-align: center;
}